<!DOCTYPE html>
<html>
<head>
	<title>Weekend Artists</title> <!-- Will change this name-->
	<link rel="stylesheet" type="text/css" href="css/index.css">
	<link href="https://fonts.googleapis.com/css?family=Archivo" rel="stylesheet">
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
</head>

<body>
	<header>
		<div class="desktop-header">
			<div class="desktop-header-inner">
				<div class="desktop-header-logo">
					<a href="/">
						<img class = "logo-icon" src="icons/logo.png">
					</a>
				</div>
				<ul class="desktop-header-nav">
				</ul>
				<ul class="desktop-header-nav-right">
					<li>
						<a href="/random"><img class = "random-icon" src="icons/shuffle.png"></a>

					</li>
					<li>
						<a id="search-bar" onclick="showSearch()" href="#"><img class="search-icon" src="icons/search.png"></a>
					</li>
				</ul>

			</div>
		</div>
		<!-- The Drop down menu, that will appear on smaller screens: -->
		<div class = "mobile-menu">
			<div class = "mobile-menu-inner">
				<div class="mobile-menu-logo">
					<a href="#">
						<img class="logo-icon" src="icons/logo.png">
					</a>
				</div>
			</div>
			<ul class="mobile-menu-right">
				<li>
					<a href="#"><img class = "random-icon" src="icons/shuffle.png"></a>
				</li>
				<li>
					<a onclick="showSearch()" href="#"><img class="search-icon" src="icons/search.png"></a>
				</li>
			</ul>
		</div>
	</header>
	<div id="overlay">
		<div ondblclick="$('#overlay').hide();" class="overlay-test">
			<form onsubmit="doSearch()">
				<input id="search" type="text" placeholder="Name, Date, etc.">
			</form>
		</div>
	</div>
	<div id="mosaic">
  <% for (img in image) { %>
		<a href="description?id=<%=image[img].id%>"><img src="<%= image[img].large_thumbnail_url%>"></a>
  <% }%>
	</div>




<script src="js/jquery-3.2.1.js"></script>
<script src="js/index.js"></script>

</body>

</html>
