$whiti-color: black;
// g #5c9649 b #4286f4
$smaller-screens: 'only screen and (max-width: 420px)';


//$mobile-view:
html{
  height: 100%;
  margin: 0;
  overflow-y: scroll;
}

body {
	font-family: 'Archivo', sans-serif;
	background-color: white;
  height: 100%;
  margin: 0;
   //font-family: sans-serif;
}

header{
	text-align: center;
  position: fixed;
  top: 0;
  width: 100%;
}

.mobile-menu {
	display: none;
  width: 100%;
  box-shadow: 0 2px 6px 0 rgba(0,0,0,.2);
  background-color: black;
	@media#{$smaller-screens} {
		display: flex;
	}
}

.mobile-menu-inner {
  right: 0;
  left: 0;
  top: 0;
  width: 100%;
	background-color: black;
  display: flex;
  flex-grow: 1;
  color: white;
  margin: auto;
}

.mobile-menu-hamburger{

}

.mobile-menu-hamburger button {
	width: 45px;
	height: 50px;
	color: white;
	background-color: black;
	font-size: 18px;
	border: none;
}

.mobile-menu-logo{
	// flex-grow: 1;
	// justify-content: center;
	//margin: auto;
}

.mobile-menu-right{
  display: flex;
  background-color: black;
  padding-left: 0;
  padding-right: 14px;
}

.mobile-menu-right li{
  display: flex;
  background-color: black;
  padding: 0 10px;
}

.mobile-menu-logo a{
	text-decoration: none;
	color: white;
	font-size: 30px;
  padding-right:40px;
  padding-left: 20px;
	font-weight: bold;
  margin: auto;
}

.mobile-menu-hamburger span {
	display: block;
	background: white;
	margin: 4px;
	height: 3px;
	border-radius: 1px;
}

.mobile-menu-content {
	position: absolute;
	top: -500px;
	left: 0;
	right: 0;
	display: none;
	position: absolute;
	margin-left: -40px;
	background-color: black;
	border-color: black;
	width: 100%;
	overflow: auto;
	z-index: 1;
}

.mobile-menu-content li {
	display: block;
	padding: 8px 10px;
	text-align: left;
}

.mobile-menu-content a {
  text-decoration: none;
 font-size: 20px;
  color: white;
}

.show {
	top: 30px;
	display: inline-block;
}

.desktop-header {
  margin: 0;
  right: 0;
  left: 0;
  top: 0;
  width: 100%;
	background-color: black;
  display: flex;
  flex-grow: 1;
  color: white;
  box-shadow: 0 2px 6px 0 rgba(0,0,0,.2);
	@media#{$smaller-screens} {
		display: none;
	}
}

.desktop-header-inner {
  display: flex;
  padding: 0px 25px;
	width: 100%;
}

.desktop-header-nav li {
	text-decoration: none;
	//padding: 15px 10px;
	display: block;
	color: #f7f8f9;
	font-weight: bold;
  margin: auto 0;
}

.desktop-header-nav a {
	text-decoration: none;
	//padding: 15px 10px;
	display: block;
	color: #f7f8f9;
	font-weight: bold;
  margin: auto;
}


.desktop-header-nav li a:hover {
	color: white;
}

.desktop-header-logo {
	text-decoration: none;
	font-weight: bold;
  display: flex;
  align-items: center;
  font-size: 40px;
  margin-right: 20px;
}

.desktop-header-logo a {
	text-decoration: none;
	color: white;
}

.desktop-header-nav{
  margin: 0;
  padding: 0;
  display: flex;
	flex-grow: 2;
  justify-content: center;
}

.desktop-header-nav-right {
	display: flex;
}
.desktop-header-nav-right li a {
	text-decoration: none;
	color: white;
	font-weight: bold;
  padding: 0 20px;
  margin: auto;
}

ul {
	list-style: none;
  padding-left: 0;
}

button {
	outline: none;
}

.site-content{
	text-align: center;
	display: flex;
	flex-direction: column;
}

.buttons{
    text-decoration: none;
}

.description-content{
  height: 100%;
  display: flex;
  @media#{$smaller-screens} {
		flex-direction: column;
	}
}

.left-pane{
  height: 100%;
  width: 50%;
  @media#{$smaller-screens} {
    height: 60%;
    width: 100%;
	}
}

.right-pane{
  height: 100%;
  width: 50%;
  @media#{$smaller-screens} {
    height: 40%;
    width: 100%;
	}
}

.full-image{
  height: 50%;
  //margin:
  text-align: center;
  @media#{$smaller-screens} {
    height: 80%;
	}

  img{
    box-shadow: 0 2px 6px 0 rgba(0,0,0,.2);
    max-width: 90%;
    max-height: 90%;
  }
}

.color-grid{
  height: 50%;
  display: flex;
  margin: 0 5%;
  @media#{$smaller-screens} {
    height: 20%;
	}
}

#color-1{
  width: 20%;
  height: 50%;
}
#color-2{
  width: 20%;
  height: 50%;
}
#color-3{
  width: 20%;
  height: 50%;
}
#color-4{
  width: 20%;
  height: 50%;
}
#color-5{
  width: 20%;
  height: 50%;
}

.image-description{
  height: 60%;
  @media#{$smaller-screens} {
    margin-top: 70px;
  }

}

.similar-images{
  height: 40%;
}

.arrow-left{
  color: white;
  padding: 3px;
}

.random-icon{
  height: 35px;
  @media#{$smaller-screens} {
    height: 25px;
  }
}

.search-icon{
  height: 35px;
  @media#{$smaller-screens} {
    height: 25px;
  }
}

.info-icon{
  padding-left: 15px;
  height: 30px;
  @media#{$smaller-screens} {
		padding: 0;
    height: 25px;
	}
}

.app-name{
  padding-left: 100px;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 1px;
}


.logo-icon{
  height: 40px;
  @media#{$smaller-screens} {
    height: 25px;
  }
}

#palette-title{
  text-align: center;
  font-weight: bold;
}

#divider-1{
  height: 2px;
  background-color: #d3d3d3;
  width: 80%;
  margin-bottom: 20px;
  margin-left: 40px;
}

.filler{
  width: 100%;
  height: 100px;
}
