html {
  height: 100%;
  margin: 0;
  overflow-y: scroll; }

body {
  font-family: 'Archivo', sans-serif;
  background-color: white;
  height: 100%;
  margin: 0; }

header {
  text-align: center; }

.mobile-menu {
  display: none;
  width: 100%;
  -webkit-box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
  background-color: black; }

@media only screen and (max-width: 420px) {
  .mobile-menu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; } }

.mobile-menu-inner {
  right: 0;
  left: 0;
  top: 0;
  width: 100%;
  background-color: black;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  color: white;
  margin: auto; }

.mobile-menu-hamburger button {
  width: 45px;
  height: 50px;
  color: white;
  background-color: black;
  font-size: 18px;
  border: none; }

.mobile-menu-right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background-color: black;
  padding-left: 0;
  padding-right: 14px; }

.mobile-menu-right li {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background-color: black;
  padding: 0 10px; }

.mobile-menu-logo a {
  text-decoration: none;
  color: white;
  font-size: 30px;
  padding-right: 40px;
  padding-left: 20px;
  font-weight: bold;
  margin: auto; }

.mobile-menu-hamburger span {
  display: block;
  background: white;
  margin: 4px;
  height: 3px;
  border-radius: 1px; }

.mobile-menu-content {
  position: absolute;
  top: -500px;
  left: 0;
  right: 0;
  display: none;
  position: absolute;
  margin-left: -40px;
  background-color: black;
  border-color: black;
  width: 100%;
  overflow: auto;
  z-index: 1; }

.mobile-menu-content li {
  display: block;
  padding: 8px 10px;
  text-align: left; }

.mobile-menu-content a {
  text-decoration: none;
  font-size: 20px;
  color: white; }

.show {
  top: 30px;
  display: inline-block; }

.desktop-header {
  margin: 0;
  right: 0;
  left: 0;
  top: 0;
  width: 100%;
  background-color: black;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  color: white;
  -webkit-box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2); }

@media only screen and (max-width: 420px) {
  .desktop-header {
    display: none; } }

.desktop-header-inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 0px 25px;
  width: 100%; }

.desktop-header-nav li {
  text-decoration: none;
  display: block;
  color: #f7f8f9;
  font-weight: bold;
  margin: auto 0; }

.desktop-header-nav a {
  text-decoration: none;
  display: block;
  color: #f7f8f9;
  font-weight: bold;
  margin: auto; }

.desktop-header-nav li a:hover {
  color: white; }

.desktop-header-logo {
  text-decoration: none;
  font-weight: bold;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 40px;
  margin-right: 20px; }

.desktop-header-logo a {
  text-decoration: none;
  color: white; }

.desktop-header-nav {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 2;
  -webkit-flex-grow: 2;
  -ms-flex-positive: 2;
  flex-grow: 2;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }

.desktop-header-nav-right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.desktop-header-nav-right li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  padding: 0 20px;
  margin: auto; }

ul {
  list-style: none;
  padding-left: 0; }

button {
  outline: none; }

.site-content {
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }

.buttons {
  text-decoration: none; }

.description-content {
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

@media only screen and (max-width: 420px) {
  .description-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; } }

.left-pane {
  height: 100%;
  width: 50%; }

@media only screen and (max-width: 420px) {
  .left-pane {
    height: 60%;
    width: 100%; } }

.right-pane {
  height: 100%;
  width: 50%; }

@media only screen and (max-width: 420px) {
  .right-pane {
    height: 40%;
    width: 100%; } }

.full-image {
  height: 60%; }

@media only screen and (max-width: 420px) {
  .full-image {
    height: 80%; } }

.color-grid {
  height: 40%; }

@media only screen and (max-width: 420px) {
  .color-grid {
    height: 20%; } }

.image-description {
  height: 60%; }

.similar-images {
  height: 40%; }

.arrow-left {
  color: white;
  padding: 3px; }

.random-icon {
  height: 35px; }

@media only screen and (max-width: 420px) {
  .random-icon {
    height: 25px; } }

.search-icon {
  height: 35px; }

@media only screen and (max-width: 420px) {
  .search-icon {
    height: 25px; } }

.info-icon {
  padding-left: 15px;
  height: 30px; }

@media only screen and (max-width: 420px) {
  .info-icon {
    padding: 0;
    height: 25px; } }

.app-name {
  padding-left: 100px;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 1px; }

.logo-icon {
  height: 40px; }

@media only screen and (max-width: 420px) {
  .logo-icon {
    height: 25px; } }
