html {
  height: 100%;
  margin: 0;
  overflow-y: scroll; }

body {
  font-family: 'Raleway', sans-serif;
  background-color: white;
  height: 100%;
  margin: 0; }

header {
  text-align: center; }

.mobile-menu {
  display: none;
  width: 100%; }

@media only screen and (max-width: 420px) {
  .mobile-menu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; } }

.mobile-menu-inner {
  right: 0;
  left: 0;
  top: 0;
  width: 100%;
  background-color: #38393a;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  color: white; }

.mobile-menu-hamburger button {
  width: 45px;
  height: 50px;
  color: white;
  background-color: #38393a;
  font-size: 18px;
  border: none; }

.mobile-menu-logo {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: auto; }

.mobile-menu-logo a {
  text-decoration: none;
  color: white;
  font-size: 30px;
  padding-right: 40px;
  font-weight: bold; }

.mobile-menu-hamburger span {
  display: block;
  background: white;
  margin: 4px;
  height: 3px;
  border-radius: 1px; }

.mobile-menu-content {
  position: absolute;
  top: -500px;
  left: 0;
  right: 0;
  display: none;
  position: absolute;
  margin-left: -40px;
  background-color: #38393a;
  border-color: black;
  width: 100%;
  overflow: auto;
  z-index: 1; }

.mobile-menu-content li {
  display: block;
  padding: 8px 10px;
  text-align: left; }

.mobile-menu-content a {
  text-decoration: none;
  font-size: 20px;
  color: white; }

.show {
  top: 30px;
  display: inline-block; }

.desktop-header {
  margin: 0;
  right: 0;
  left: 0;
  top: 0;
  width: 100%;
  background-color: #38393a;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  color: white; }

@media only screen and (max-width: 420px) {
  .desktop-header {
    display: none; } }

.desktop-header-inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 0 30px;
  width: 100%; }

.desktop-header-nav li a {
  text-decoration: none;
  padding: 15px 10px;
  display: block;
  color: #f7f8f9;
  font-weight: bold; }

.desktop-header-nav li a:hover {
  color: white; }

.desktop-header-logo {
  text-decoration: none;
  font-weight: bold;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 30px;
  margin-right: 20px; }

.desktop-header-logo a {
  text-decoration: none;
  color: white; }

.desktop-header-nav {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1; }

.desktop-header-nav-right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.desktop-header-nav-right li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  padding: 0 20px; }

ul {
  list-style: none; }

button {
  outline: none; }

.site-content {
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }

.logo {
  margin-top: 130px;
  margin-bottom: -25px;
  font-size: 200px;
  color: white; }
  @media only screen and (max-width: 420px) {
    .logo {
      margin-top: 75px;
      font-size: 180px;
      color: white; } }

.role-question {
  color: white;
  font-weight: bold;
  font-size: 30px; }
  @media only screen and (max-width: 420px) {
    .role-question {
      font-size: 20px; } }

.role-buttons {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  @media only screen and (max-width: 420px) {
    .role-buttons {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column; } }

.buttons {
  text-decoration: none; }

.role {
  border-radius: 3px;
  vertical-align: top;
  border: 0;
  padding: 0px;
  width: 200px;
  height: 100px;
  margin: 10px;
  font-size: 18px;
  background-color: white;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  font-weight: bold;
  color: #4286f4;
  -webkit-box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2); }
  @media only screen and (max-width: 420px) {
    .role {
      width: 290px;
      height: 90px;
      font-size: 20px; } }

.role:hover {
  -webkit-box-shadow: none;
  box-shadow: none;
  margin-top: 13px;
  transition: all .2s;
  -o-transition: all .2s;
  -moz-transition: all .2s;
  -webkit-transition: all .2s; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/* force scrollbar */
/* ---- grid ---- */
.grid {
  background: #DDD; }

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both; }

/* ---- .grid-item ---- */
.grid-sizer,
.grid-item {
  width: 33.333%; }

.grid-item {
  float: left; }

.grid-item img {
  display: block;
  max-width: 100%; }

#mosaic{
  /* Prevent vertical gaps */
 line-height: 0;

 -webkit-column-count: 5;
 -webkit-column-gap:   0px;
 -moz-column-count:    5;
 -moz-column-gap:      0px;
 column-count:         5;
 column-gap:           0px;
}

div#mosaic img {
  /* Just in case there are inline attributes */
  width: 100% !important;
  height: auto !important;
  transition: .8s opacity;
}
}

div#mosaic:hover img { opacity: 0.3; }
div#mosaic:hover img:hover { opacity: 1; }

@media (max-width: 1200px) {
  #mosaic {
  -moz-column-count:    4;
  -webkit-column-count: 4;
  column-count:         4;
  }
}
@media (max-width: 1000px) {
  #mosaic {
  -moz-column-count:    3;
  -webkit-column-count: 3;
  column-count:         3;
  }
}
@media (max-width: 800px) {
  #mosaic {
  -moz-column-count:    2;
  -webkit-column-count: 2;
  column-count:         2;
  }
}
@media (max-width: 400px) {
  #mosaic {
  -moz-column-count:    1;
  -webkit-column-count: 1;
  column-count:         1;
  }
}
